@using EventManager.Client.Models;

<!--Test component fetches and displays event data from the EventManager.API service.-->

<button @onclick="FetchData">Get data</button>

@if (Event != null && Event.Any())
{
    @foreach (var ev in Event)
    {
        <h3>Name: @ev.Name</h3>
        <p>Description: @ev.Description</p>
        <p>Start: @ev.Start</p>
        <p>End: @ev.End</p>
        <p>Max Attendees: @ev.MaxAttendees</p>
        <hr />
    }
}
else
{
    <p>No events found.</p>
}

@code {
    [Inject]
    public HttpClient HttpClient { get; set; }

    public List<Event> Event = new();

    public async Task FetchData()
    {
        try
        {
            Console.WriteLine("Fetching data...");
            @* Event = await HttpClient.GetFromJsonAsync<List<Event>>("https://localhost:7206/events"); *@
            Event = await HttpClient.GetFromJsonAsync<List<Event>>("events");

            Console.WriteLine($"Fetched {Event.Count} events.");
        }
        catch (Exception ex)
        {
            Console.WriteLine($"Error fetching events: {ex.Message}");
        }
    }
}
